.container {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-family: Verdana;
  text-align: center;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b11d6f25-5c81-4d42-a81a-6e5100ea42ee/dcsd5e7-0583eefd-0e03-492c-b57d-41da67c59367.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYjExZDZmMjUtNWM4MS00ZDQyLWE4MWEtNmU1MTAwZWE0MmVlXC9kY3NkNWU3LTA1ODNlZWZkLTBlMDMtNDkyYy1iNTdkLTQxZGE2N2M1OTM2Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.MOX7of-Fir4XRsYKP1L5FwcbTk0GSiwqu6bdUCF5gTk);
  background-repeat: no-repeat;
  background-size: cover;
}
#charmander {
  background-image: url(https://cdn.dribbble.com/users/4089743/screenshots/9625890/media/9dd3b11a947807cea2c579855a0b2b93.png?compress=1&resize=400x300);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
}
#charmander:hover {
  box-shadow: 10px 10px 8px 10px rgb(247, 131, 102);
}
#squirtle {
  background-image: url(https://cdn.dribbble.com/users/4089743/screenshots/9602238/media/96e811432aa8059eb028c74886b0dc5f.png?compress=1&resize=1000x750);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
}
#squirtle:hover {
  box-shadow: 10px 10px 8px 10px rgb(112, 154, 218);
}
#bulbasaur {
  background-image: url(https://cdn.dribbble.com/users/4089743/screenshots/9545593/media/73ad44f521ac7eec64b63428949b836b.png?compress=1&resize=1000x750);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
}
#bulbasaur:hover {
  box-shadow: 10px 10px 8px 10px rgb(94, 177, 105);
}

.healButtonLose {
  background-image: url(https://cdn.dribbble.com/users/5375342/screenshots/14322334/media/86382f7c635bd60604a65155cae4828a.png?compress=1&resize=400x300);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: Verdana;
  text-align: center;
  vertical-align: text-bottom;
}
.healButtonLose:hover {
  box-shadow: 10px 10px 8px 10px rgb(200, 156, 218);
}

.healButtonWin {
  background-image: url(https://cdn.dribbble.com/users/5375342/screenshots/14322334/media/86382f7c635bd60604a65155cae4828a.png?compress=1&resize=400x300);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: Verdana;
  text-align: center;
  vertical-align: text-bottom;
}
.healButtonWin:hover {
  box-shadow: 10px 10px 8px 10px rgb(200, 156, 218);
}
